<header class='header-wrapper'>
  <div class='header'>
    <div class='logo'></div>
  </div>
</header>
<div class='text-wrapper'>
  <section class='text'>
    <h1>
      Front-End Developer<span>.</span>
    </h1>
    <p>
      Adyax’s core values take top priority: we care for our client, and we care for our people. Staff and clients work in partnership with consistent,   transparent communication.
    </p>

  </section>
</div>
<hr>

<form action="">
  <div class='inputs'>
    <div class='left'>
      <label for="name">YOUR NAME<br></label>
      <input type="text" class='name'>

      <label for="name">YOUR EMAIL<br></label>
      <input type="text" class='name'>

      <label for="name">YOUR PORTFOLIO / GITHUB<br></label>
      <input type="text " class='name qwe'>


  <label for="name">Graduated from <span>htmlacademy.ru?</span><br></label>

  <input type="radio" value='Yes' class='radio'>
  <label for="yes">Yes</label>

  <input type="radio" value='No' class='radio' checked>
  <label for="No">No</label>
  <div class='sk'>
    <input type="checkbox" class='skills' value="yes">
    <label for="yes">Yes</label>
    <input type="checkbox" class='skills'>
    <input type="checkbox" class='skills'>
    <input type="checkbox" class='skills'>
    <input type="checkbox" class='skills'>
    <input type="checkbox" class='skills'>
  </div>


    </div>
    <div class='right'>
      <label for="name">MESSAGE<br></label>
      <input type="text" class='message'>
      <label for="name" class='u'>CV<br></label>
      <input type="text" class='name' class='up' value='    Choose file'>
      <input class='upload' type="button" value="UPLOAD">

      <div class='sk'>
        <input type="checkbox" class='skills' value="yes">
        <label for="yes">Yes</label>
        <input type="checkbox" class='skills'>
        <input type="checkbox" class='skills'>
        <input type="checkbox" class='skills'>
        <input type="checkbox" class='skills'>
        <input type="checkbox" class='skills'>
      </div>

    </div>
  </div>
  <input type="submit">
</form>
<div class='section5'></div>
