.header {
  width: 100%;
  height: 95px;
  margin-top: 53px;
}
.logo {
  width: 245px;
  height: 95px;
  background: url(images/logo.png) no-repeat;
}
.headWrap {
  width: 245px;
  margin: 0 auto;
}
/* work-sans-regular - latin */
@font-face {
  font-family: 'Work Sans Regular';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/work-sans-v3-latin-regular.eot'); /* IE9 Compat Modes */
  src: local('Work Sans'), local('WorkSans-Regular'),
       url('../fonts/work-sans-v3-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/work-sans-v3-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/work-sans-v3-latin-regular.woff') format('woff'), /* Modern Browsers */
       url('../fonts/work-sans-v3-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/work-sans-v3-latin-regular.svg#WorkSans') format('svg'); /* Legacy iOS */
}
/* work-sans-600 - latin */
@font-face {
  font-family: 'Work Sans Semibold';
  font-style: normal;
  font-weight: 600;
  src: url('../fonts/work-sans-v3-latin-600.eot'); /* IE9 Compat Modes */
  src: local('Work Sans SemiBold'), local('WorkSans-SemiBold'),
       url('../fonts/work-sans-v3-latin-600.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/work-sans-v3-latin-600.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/work-sans-v3-latin-600.woff') format('woff'), /* Modern Browsers */
       url('../fonts/work-sans-v3-latin-600.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/work-sans-v3-latin-600.svg#WorkSans') format('svg'); /* Legacy iOS */
}
/* work-sans-700 - latin */
@font-face {
  font-family: 'Work Sans Bold';
  font-style: normal;
  font-weight: 700;
  src: url('../fonts/work-sans-v3-latin-700.eot'); /* IE9 Compat Modes */
  src: local('Work Sans Bold'), local('WorkSans-Bold'),
       url('../fonts/work-sans-v3-latin-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/work-sans-v3-latin-700.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/work-sans-v3-latin-700.woff') format('woff'), /* Modern Browsers */
       url('../fonts/work-sans-v3-latin-700.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/work-sans-v3-latin-700.svg#WorkSans') format('svg'); /* Legacy iOS */
}
/* work-sans-800 - latin */
@font-face {
  font-family: 'Work Sans ExtraBold';
  font-style: normal;
  font-weight: 800;
  src: url('../fonts/work-sans-v3-latin-800.eot'); /* IE9 Compat Modes */
  src: local('Work Sans ExtraBold'), local('WorkSans-ExtraBold'),
       url('../fonts/work-sans-v3-latin-800.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/work-sans-v3-latin-800.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/work-sans-v3-latin-800.woff') format('woff'), /* Modern Browsers */
       url('../fonts/work-sans-v3-latin-800.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/work-sans-v3-latin-800.svg#WorkSans') format('svg'); /* Legacy iOS */
}
/* work-sans-900 - latin */
@font-face {
  font-family: 'Work Sans Black';
  font-style: normal;
  font-weight: 900;
  src: url('../fonts/work-sans-v3-latin-900.eot'); /* IE9 Compat Modes */
  src: local('Work Sans Black'), local('WorkSans-Black'),
       url('../fonts/work-sans-v3-latin-900.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/work-sans-v3-latin-900.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/work-sans-v3-latin-900.woff') format('woff'), /* Modern Browsers */
       url('../fonts/work-sans-v3-latin-900.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/work-sans-v3-latin-900.svg#WorkSans') format('svg'); /* Legacy iOS */
}
@font-face {
font-family: 'avalon';
font-weight: normal;
font-style: normal;
src: url('../fonts/avalon/avalon_bold-webfont.eot');
src: url('../fonts/avalon/avalon_bold-webfont.eot?#iefix') format('embedded-opentype'),
      url('../fonts/avalon/avalon_bold-webfont.woff2') format('woff2'),
      url('../fonts/avalon/avalon_bold-webfont.woff') format('woff'),
      url('../fonts/avalon/avalon_bold-webfont.ttf') format('truetype'),
      url('../fonts/avalon/avalon_bold-webfont.svg#avalonbold') format('svg');

}
.text {
  font-family: avalon;

  text-align: center;
  text-align: center;
  margin: 74px auto 0px auto;
  font-size: 55px;

}

.text1 {
  font-family: Work Sans Semibold;
  text-align: center;
  max-width: 770px;
  margin: 39px auto 0px auto;
  font-size: 24px;
    line-height: 43px;
}
.text2 {
  font-family: Work Sans Semibold;
  text-align: center;
  max-width: 770px;
  margin: 0 auto;

  font-size: 24px;
}
.text3 {
  font-family: Work Sans Semibold;
  text-align: center;
  max-width: 770px;
  margin: 0 auto;
  line-height: 43px;
  font-size: 24px;
}
hr {
  border-color: #EBEBEB;
  width: 948px;
  margin-top: 140px;
}
.inputs {
  width: 948px;
  margin: 0 auto;
  margin-top: 77px;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
}
.left {
  width: 450px;
}
.right {
  width: 450px;
}
label {
  font-family: Work Sans Regular;
  font-size: 13px;

}
input {
    margin-top: 22px;
    margin-bottom: 30px;
    line-height: 45px;
    width: 450px;
}
.message {
  line-height: 160px;
}

.upload {
  position: relative;
  left: 350px;
  bottom: 93px;
  width: 88px;
  height: 32px;
  background-color: #FDDC3E;
  line-height: 32px;
  border: 0px;
  color: white;
  font-family: Work Sans;
}
.radio {
  width: 40px;

}
span {
  text-decoration: underline;
  text-decoration-color: #FDDC3E;
}
.qwe {
  margin-bottom: 78px;
}

.sk {
  display: flex;
  flex-flow: column nowrap;
}
.skills {
  width: 39px;
  height: 39px;
}
input[type='submit']{
  margin: 0 auto;
}
.section5 {
  margin: 0 auto;
  width: 1200px;
  height: 686px;
  background: url(images/Section5.png) no-repeat;
}
